.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hide{
  visibility: hidden;
}

#mainContainer{
  margin: 0px auto;
  display: flex;
  background-color: aqua;
  justify-content: center;
  height: 1000px;
  
}
#mainContainerReg{
  margin: 0px auto;
  display: flex;
  background-color: steelblue;
  justify-content: center;
  height: 2000px;
  
}
#headerContainer{
  width: 1000px;
}

#headerTitle{
  font-size:200%
}

#comedyLogo{
  height: 100px;
}
#comedyLogoReg{
  height: 200px;
  position: relative;
  left: 170px;
}
#headerDrop{
position: fixed;
left: 830px;
right:0px;
bottom: 0px;
top:80px;
width: 100px;
height: 100px;
}
#uploadButton{
  margin-right: 60px;
  color: white;
}
#regForm{
  position: relative;
  top: 400px;
  right: 260px;
  width: 270px;
}
#regClips{
  position: relative;
  left: 110px;
}